    body {
        background-color: #121212;
        color: #ffffff;
        font-family: Comfortaa;
    }

    a {
        color: #ffffff;
    }

    .mint-nav .active a,
    .mint-nav .active a:hover {
        background-color: #5cb85c;
        color: #ffffff;
    }

    .mint-nav a,
    .mint-nav a:hover {
        color: #ffffff;
    }